<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="accountholdername" value="test" />
    <add key="accountnumber" value="test" />
    <add key="bank" value="test" />
    <add key="contact" value="test" />
    <add key="instagram" value="test" />
    <add key="method" value="test" />
    <add key="invoiceid" value="10000" />
    <add key="htmlfile" value="/template.html" />
    <add key="recipientplaceholder" value="/template.html" />
    <add key="address1placeholder" value="/template.html" />
    <add key="address2placeholder" value="/template.html" />
    <add key="address3placeholder" value="/template.html" />
    <add key="contactplaceholder" value="/template.html" />
    <add key="invoiceplaceholder" value="/template.html" />
    <add key="dateplaceholder" value="/template.html" />
    <add key="currencyplaceholder" value="/template.html" />
    <add key="breakdownplaceholder" value="/template.html" />
    <add key="subtotalplaceholder" value="/template.html" />
    <add key="totalplaceholder" value="/template.html" />
    <add key="taxplaceholder" value="/template.html" />
    <add key="methodplaceholder" value="/template.html" />
    <add key="accountnoplaceholder" value="/template.html" />
    <add key="accountnameplaceholder" value="/template.html" />
    <add key="bankplaceholder" value="/template.html" />
    <add key="instagramplaceholder" value="/template.html" />
    <add key="footercontactplaceholder" value="/template.html" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>